﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Roboto Slab;
  overflow-x: hidden;
  padding: 0;
  margin: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .3s ease-out; }
  @media only screen and (max-width: 768px) {
    img {
      object-fit: fill; } }

@media only screen and (max-width: 768px) {
  html {
    overflow-x: hidden; } }

/*--------------------------------------------CODDING----------------------------------------*/
#wrapper .content-block {
  max-width: 975px;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    #wrapper .content-block {
      padding: 12px; }
    #wrapper .content-block.no-padding {
      padding: unset; } }

#wrapper #home-page .banner-web .banner {
  max-width: 100%;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    #wrapper #home-page .banner-web .banner {
      height: auto; }
      #wrapper #home-page .banner-web .banner img {
        object-fit: fill; } }

#wrapper #home-page .banner-web .content-banner {
  max-width: 100%;
  background: rgba(244, 244, 244, 0.8);
  padding: 29px 25px 25px 0px; }
  #wrapper #home-page .banner-web .content-banner .text p {
    font-size: 17px;
    line-height: 22px;
    color: #202020; }
    #wrapper #home-page .banner-web .content-banner .text p b {
      font-weight: 600; }

#wrapper #home-page .philosophy {
  padding: 30px 0px; }
  #wrapper #home-page .philosophy .philosophy-title p {
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color: #202020; }
  #wrapper #home-page .philosophy .philosophy-content {
    padding-top: 22px; }
    #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box {
      margin-bottom: 10px; }
      #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box .icon {
        width: 60px;
        height: 60px;
        overflow: hidden;
        cursor: pointer; }
      #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box .box-text {
        padding-top: 15px; }
        #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box .box-text .title h4 {
          font-weight: bold;
          font-size: 20px;
          line-height: 26px;
          color: #2E2E85; }
        #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box .box-text .line {
          width: 46.54px;
          height: 3.1px;
          background: #27306C;
          display: block;
          margin-top: 3px; }
        #wrapper #home-page .philosophy .philosophy-content .philosophy-content-box .box-text .text {
          padding-top: 15px;
          font-size: 17px;
          line-height: 20px; }

#wrapper #home-page .maya-education .maya-img {
  max-width: 100%;
  height: auto;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    #wrapper #home-page .maya-education .maya-img {
      height: auto; }
      #wrapper #home-page .maya-education .maya-img img {
        object-fit: fill; } }

#wrapper #home-page .maya-education .maya-education-content {
  padding: 25px 0px 30px 0px; }
  #wrapper #home-page .maya-education .maya-education-content .maya-education-title p {
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    color: #202020; }
  #wrapper #home-page .maya-education .maya-education-content .content-text {
    padding-top: 13px;
    padding-left: 35px; }
    #wrapper #home-page .maya-education .maya-education-content .content-text ul li span {
      font-weight: normal;
      font-size: 17px;
      line-height: 22px;
      color: #202020; }

#wrapper #home-page .introduce-facilities {
  max-width: 100vw;
  background: rgba(244, 244, 244, 0.8);
  position: relative;
  padding: 25px 0px;
  margin-top: 15px; }
  #wrapper #home-page .introduce-facilities .overlay-bg {
    position: absolute;
    background: #2E2E86;
    margin-top: 282px;
    left: 0%;
    width: 100%;
    height: 503px;
    z-index: 1; }
    @media only screen and (max-width: 576px) {
      #wrapper #home-page .introduce-facilities .overlay-bg {
        display: none; } }
  #wrapper #home-page .introduce-facilities .facilities-box {
    z-index: 2;
    position: relative; }
    #wrapper #home-page .introduce-facilities .facilities-box .facilities-content {
      display: flex;
      flex-wrap: wrap; }
      #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities {
        margin-right: 10px; }
        @media only screen and (max-width: 1024px) {
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.f {
            order: 1;
            flex: 5; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.s {
            order: 2;
            flex: 2; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.t {
            order: 3;
            flex: auto; } }
        @media only screen and (max-width: 768px) {
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.f {
            order: 1;
            flex: 1; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.s {
            order: 3;
            flex: auto; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.t {
            order: 2;
            flex: 1; } }
        @media only screen and (max-width: 576px) {
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities {
            margin-right: unset; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.f {
            order: 1;
            flex: auto; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.s {
            order: 2;
            flex: auto; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities.t {
            order: 3;
            flex: auto; } }
        #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct {
          display: flex;
          justify-content: flex-start;
          flex-wrap: wrap; }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl {
            flex-direction: column; }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm {
              flex: auto; }
            @media only screen and (max-width: 768px) {
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl {
                flex-direction: row; }
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm {
                  margin-right: 10px; }
                  #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm:last-child {
                    margin-right: unset; } }
            @media only screen and (max-width: 576px) {
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl {
                flex-direction: row; }
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm {
                  max-width: 48%; }
                  #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm:nth-child(2) {
                    margin-right: unset; }
                  #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct.cl .box-content.sm .img {
                    max-width: 100%; } }
          #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content {
            background: #FDFDFD;
            box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
            cursor: pointer;
            margin-bottom: 10px; }
            @media only screen and (max-width: 576px) {
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content {
                width: 100%; } }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm {
              max-width: 184px;
              height: 181px;
              border-radius: 6px;
              flex: 1; }
              @media only screen and (max-width: 576px) {
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm {
                  max-width: 100%; } }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm.fake-res {
                opacity: 0;
                margin-left: 10px; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm .box-text {
                color: #27306C; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm .img {
                max-width: 184px;
                height: 181px;
                overflow: hidden;
                border-radius: 6px; }
                @media only screen and (max-width: 576px) {
                  #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.sm .img {
                    max-width: 100%; } }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.bg {
              max-width: 378px;
              height: 371px;
              border-radius: 6px;
              overflow: hidden; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.bg img {
                max-width: 378px;
                height: 371px;
                border-radius: 6px; }
                @media only screen and (max-width: 576px) {
                  #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.bg img {
                    max-width: 100%; } }
              @media only screen and (max-width: 576px) {
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.bg {
                  max-width: 100%; } }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.green {
              background: #A1BF46; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.green .box-text {
                color: #fff; }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content.has-mg {
              margin-right: 10px; }
            #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text {
              padding: 29px 15px 5px 22px; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text .rec {
                display: flex; }
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text .rec img {
                  width: 7.89px;
                  height: 14.48px;
                  margin-right: 2px; }
              #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text .title {
                padding-top: 30px; }
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text .title h4 {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 33px;
                  line-height: 36px; }
                #wrapper #home-page .introduce-facilities .facilities-box .facilities-content .flex-facilities .flex-ct .box-content .box-text .title p {
                  font-style: normal;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 18px; }
  #wrapper #home-page .introduce-facilities .target {
    padding-top: 30px; }
    @media only screen and (max-width: 768px) {
      #wrapper #home-page .introduce-facilities .target {
        padding-top: unset; } }
    #wrapper #home-page .introduce-facilities .target .target-content p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      padding-top: 25px;
      line-height: 20px; }
      #wrapper #home-page .introduce-facilities .target .target-content p b {
        font-weight: bold;
        font-size: 17px; }
    #wrapper #home-page .introduce-facilities .target .count-develop {
      padding-top: 30px; }
      #wrapper #home-page .introduce-facilities .target .count-develop .box-ic {
        margin-bottom: 12px; }
        #wrapper #home-page .introduce-facilities .target .count-develop .box-ic .number {
          width: 97px;
          height: 97px;
          background: #2E2E86;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin: auto;
          cursor: pointer; }
          #wrapper #home-page .introduce-facilities .target .count-develop .box-ic .number span {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #fff; }
        #wrapper #home-page .introduce-facilities .target .count-develop .box-ic .box-text {
          padding-top: 15px; }
          #wrapper #home-page .introduce-facilities .target .count-develop .box-ic .box-text h4 {
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            text-align: center; }

#wrapper #home-page .admission {
  margin-top: 33px; }
  #wrapper #home-page .admission .title h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 99.38%;
    color: #313A5A; }
  #wrapper #home-page .admission .admission-content .list {
    padding: 20px 0px; }
    #wrapper #home-page .admission .admission-content .list.vr-2 {
      padding: unset; }
    #wrapper #home-page .admission .admission-content .list b {
      font-weight: bold;
      font-size: 17px;
      line-height: 22px;
      color: #202020; }
      #wrapper #home-page .admission .admission-content .list b span {
        font-weight: normal; }
  #wrapper #home-page .admission .admission-content .file-box .col-inner {
    background: #F8F8F8;
    border-radius: 6px;
    background: #f8f8f8;
    border-radius: 6px;
    padding: 15px;
    height: 126px;
    margin-bottom: 20px; }
    @media only screen and (max-width: 576px) {
      #wrapper #home-page .admission .admission-content .file-box .col-inner {
        height: 95%; } }
    #wrapper #home-page .admission .admission-content .file-box .col-inner .box-ic {
      display: flex;
      justify-content: flex-start; }
      #wrapper #home-page .admission .admission-content .file-box .col-inner .box-ic .number {
        padding: 18px;
        height: 33.45px;
        background: #A1BF46;
        display: flex;
        justify-content: center;
        align-items: center; }
        #wrapper #home-page .admission .admission-content .file-box .col-inner .box-ic .number span {
          font-weight: 600;
          font-size: 17px;
          line-height: 22px;
          color: #FFFFFF; }
      #wrapper #home-page .admission .admission-content .file-box .col-inner .box-ic .box-text {
        margin-left: 10px; }
        #wrapper #home-page .admission .admission-content .file-box .col-inner .box-ic .box-text p {
          font-weight: 600;
          font-size: 17px;
          line-height: 22px;
          color: #202020; }
  #wrapper #home-page .admission .admission-content .time-to-test ul {
    display: flex;
    flex-wrap: wrap; }
    #wrapper #home-page .admission .admission-content .time-to-test ul li {
      background: #2E2E86;
      margin-right: 10px;
      padding: 5px 7px;
      text-align: center;
      flex: 1;
      margin-bottom: 7px; }
      @media only screen and (max-width: 576px) {
        #wrapper #home-page .admission .admission-content .time-to-test ul li {
          width: 100%;
          flex: auto;
          margin-right: unset; } }
      #wrapper #home-page .admission .admission-content .time-to-test ul li p {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: #FFFFFF; }
      #wrapper #home-page .admission .admission-content .time-to-test ul li:last-child {
        margin-right: unset; }

#wrapper #home-page .sign-up-for-advice {
  background: rgba(244, 244, 244, 0.8);
  opacity: 0.8;
  margin-top: 38px;
  padding: 25px 0px 20px 0px; }
  #wrapper #home-page .sign-up-for-advice .title h2 {
    font-weight: 500;
    font-size: 38px;
    line-height: 38px;
    color: #313A5A; }
  #wrapper #home-page .sign-up-for-advice .input-form {
    text-align: center;
    margin-top: 20px; }
    @media only screen and (max-width: 567px) {
      #wrapper #home-page .sign-up-for-advice .input-form {
        text-align: unset; } }
    #wrapper #home-page .sign-up-for-advice .input-form form .elements label {
      font-size: 12px;
      line-height: 32px;
      color: #202020;
      width: 116px;
      display: inline-block;
      text-align: left; }
    #wrapper #home-page .sign-up-for-advice .input-form form .elements input {
      width: 468px;
      height: 24px;
      outline: none;
      background: #FFFFFF;
      border: 0.5px solid #DADADA;
      box-sizing: border-box;
      border-radius: 2px;
      display: inline-block; }
      @media only screen and (max-width: 576px) {
        #wrapper #home-page .sign-up-for-advice .input-form form .elements input {
          max-width: 100%; } }
    #wrapper #home-page .sign-up-for-advice .input-form form .btn-sign-up {
      margin: 15px auto;
      text-align: center; }
      #wrapper #home-page .sign-up-for-advice .input-form form .btn-sign-up button {
        width: 193px;
        height: 40px;
        border: none;
        outline: none;
        background: #A1BF46;
        border-radius: 4px;
        text-align: center; }
        #wrapper #home-page .sign-up-for-advice .input-form form .btn-sign-up button span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 13px;
          line-height: 16px;
          color: #FFFFFF; }

#wrapper #home-page .sign-end {
  padding: 25px 0px 29px 0px; }
  #wrapper #home-page .sign-end p {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    color: #202020; }
