﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a:hover{
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    font-family: Roboto Slab;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-out;

    @media only screen and (max-width: 768px){
        &{
            object-fit: fill;
        }
    }
}

@media only screen and (max-width:768px){
    html{
        overflow-x: hidden;
    }
}


/*--------------------------------------------CODDING----------------------------------------*/


#wrapper {

    .content-block {
        max-width: 975px;
        margin: 0 auto;

        @media only screen and (max-width: 768px) {
            & {
                padding: 12px;
            }

            &.no-padding {
                padding: unset;
            }
        }
    }

    #home-page {

        .banner-web {
            .banner {
                max-width: 100%;
                height: auto;
                overflow: hidden;

                @media only screen and (max-width: 768px) {
                    & {
                        height: auto;

                        img {
                            object-fit: fill;
                        }
                    }
                }
            }

            .content-banner {
                max-width: 100%;
                background: rgba(244, 244, 244, 0.8);
                padding: 29px 25px 25px 0px;

                .text {
                    p {
                        font-size: 17px;
                        line-height: 22px;
                        color: #202020;

                        b {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        .philosophy {
            padding: 30px 0px;

            .philosophy-title {
                p {
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 22px;
                    color: #202020;
                }
            }

            .philosophy-content {
                padding-top: 22px;

                .philosophy-content-box {
                    margin-bottom: 10px;

                    .icon {
                        width: 60px;
                        height: 60px;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    .box-text {
                        padding-top: 15px;

                        .title {
                            h4 {
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 26px;
                                color: #2E2E85;
                            }
                        }

                        .line {
                            width: 46.54px;
                            height: 3.1px;
                            background: #27306C;
                            display: block;
                            margin-top: 3px;
                        }

                        .text {
                            padding-top: 15px;
                            font-size: 17px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        .maya-education {
            .maya-img {
                max-width: 100%;
                height: auto;
                overflow: hidden;

                @media only screen and (max-width: 768px) {
                    & {
                        height: auto;

                        img {
                            object-fit: fill;
                        }
                    }
                }
            }

            .maya-education-content {
                padding: 25px 0px 30px 0px;

                .maya-education-title {
                    p {
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 22px;
                        color: #202020;
                    }
                }

                .content-text {
                    padding-top: 13px;
                    padding-left: 35px;

                    ul {
                        li {
                            span {
                                font-weight: normal;
                                font-size: 17px;
                                line-height: 22px;
                                color: #202020;
                            }
                        }
                    }
                }
            }
        }

        .introduce-facilities {
            max-width: 100vw;
            background: rgba(244, 244, 244, 0.8);
            position: relative;
            padding: 25px 0px;
            margin-top: 15px;

            .overlay-bg {
                position: absolute;
                background: #2E2E86;
                margin-top: 282px;
                left: 0%;
                width: 100%;
                height: 503px;
                z-index: 1;

                @media only screen and (max-width: 576px) {
                    display: none;
                }
            }

            .facilities-box {
                z-index: 2;
                position: relative;

                .facilities-content {
                    display: flex;
                    flex-wrap: wrap;

                    .flex-facilities {
                        margin-right: 10px;

                        @media only screen and (max-width: 1024px) {
                            &.f {
                                order: 1;
                                flex: 5;
                            }

                            &.s {
                                order: 2;
                                flex: 2;
                            }

                            &.t {
                                order: 3;
                                flex: auto;
                            }
                        }

                        @media only screen and (max-width: 768px) {


                            &.f {
                                order: 1;
                                flex: 1;
                            }

                            &.s {
                                order: 3;
                                flex: auto;
                            }

                            &.t {
                                order: 2;
                                flex: 1;
                            }
                        }

                        @media only screen and (max-width: 576px) {
                            & {
                                margin-right: unset;
                            }

                            &.f {
                                order: 1;
                                flex: auto;
                            }

                            &.s {
                                order: 2;
                                flex: auto;
                            }

                            &.t {
                                order: 3;
                                flex: auto;
                            }
                        }

                        .flex-ct {
                            display: flex;
                            justify-content: flex-start;
                            flex-wrap: wrap;


                            &.cl {
                                flex-direction: column;

                                .box-content.sm {
                                    flex: auto;
                                }

                                @media only screen and (max-width: 768px) {
                                    & {
                                        flex-direction: row;

                                        .box-content.sm {
                                            margin-right: 10px;

                                            &:last-child {
                                                margin-right: unset;
                                            }
                                        }
                                    }
                                }

                                @media only screen and (max-width: 576px) {
                                    & {
                                        flex-direction: row;

                                        .box-content.sm {
                                            max-width: 48%;

                                            &:nth-child(2){
                                                margin-right: unset;
                                            }

                                            .img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }

                            .box-content {
                                background: #FDFDFD;
                                box-shadow: 12px 12px 40px rgba(121, 121, 121, 0.3);
                                cursor: pointer;
                                margin-bottom: 10px;

                                @media only screen and (max-width: 576px) {
                                    & {
                                        width: 100%;
                                    }
                                }

                                &.sm {
                                    max-width: 184px;
                                    height: 181px;
                                    border-radius: 6px;
                                    flex: 1;

                                    @media only screen and (max-width: 576px) {
                                        & {
                                            max-width: 100%;
                                        }
                                    }

                                    &.fake-res {
                                        opacity: 0;
                                        margin-left: 10px;
                                    }

                                    .box-text {
                                        color: #27306C;
                                    }

                                    .img {
                                        max-width: 184px;
                                        height: 181px;
                                        overflow: hidden;
                                        border-radius: 6px;


                                        @media only screen and (max-width: 576px) {
                                            & {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }

                                &.bg {
                                    max-width: 378px;
                                    height: 371px;
                                    border-radius: 6px;
                                    overflow: hidden;

                                    img {
                                        max-width: 378px;
                                        height: 371px;
                                        border-radius: 6px;

                                        @media only screen and (max-width: 576px) {
                                            & {
                                                max-width: 100%;
                                            }
                                        }
                                    }

                                    @media only screen and (max-width: 576px) {
                                        & {
                                            max-width: 100%;
                                        }
                                    }
                                }

                                &.green {
                                    background: #A1BF46;


                                    .box-text {
                                        color: #fff;
                                    }
                                }

                                &.has-mg {
                                    margin-right: 10px;
                                }

                                .box-text {
                                    padding: 29px 15px 5px 22px;

                                    .rec {
                                        display: flex;

                                        img {
                                            width: 7.89px;
                                            height: 14.48px;
                                            margin-right: 2px;
                                        }
                                    }

                                    .title {
                                        padding-top: 30px;

                                        h4 {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 33px;
                                            line-height: 36px;
                                        }

                                        p {
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 14px;
                                            line-height: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .target {
                padding-top: 30px;

                @media only screen and (max-width: 768px) {
                    & {
                        padding-top: unset;
                    }
                }

                .target-content {
                    p {
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        padding-top: 25px;
                        line-height: 20px;

                        b {
                            font-weight: bold;
                            font-size: 17px;
                        }
                    }
                }

                .count-develop {
                    padding-top: 30px;

                    .box-ic {
                        margin-bottom: 12px;

                        .number {
                            width: 97px;
                            height: 97px;
                            background: #2E2E86;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            margin: auto;
                            cursor: pointer;

                            span {
                                font-weight: bold;
                                font-size: 24px;
                                line-height: 32px;
                                color: #fff;
                            }
                        }

                        .box-text {
                            padding-top: 15px;

                            h4 {
                                font-weight: bold;
                                font-size: 20px;
                                line-height: 26px;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }

        .admission {
            margin-top: 33px;

            .title {
                h2 {
                    font-weight: 500;
                    font-size: 38px;
                    line-height: 99.38%;
                    color: #313A5A;
                }
            }

            .admission-content {
                .list {
                    padding: 20px 0px;

                    &.vr-2 {
                        padding: unset;
                    }

                    b {
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 22px;
                        color: #202020;

                        span {
                            font-weight: normal;
                        }
                    }
                }

                .file-box {
                    .col-inner {
                        background: #F8F8F8;
                        border-radius: 6px;
                        background: #f8f8f8;
                        border-radius: 6px;
                        padding: 15px;
                        height: 126px;
                        margin-bottom: 20px;

                        @media only screen and (max-width: 576px) {
                            & {
                                height: 95%;
                            }
                        }

                        .box-ic {
                            display: flex;
                            justify-content: flex-start;

                            .number {
                                padding: 18px;
                                height: 33.45px;
                                background: #A1BF46;
                                display: flex;
                                justify-content: center;
                                align-items: center;



                                span {
                                    font-weight: 600;
                                    font-size: 17px;
                                    line-height: 22px;
                                    color: #FFFFFF;
                                }
                            }

                            .box-text {
                                margin-left: 10px;

                                p {
                                    font-weight: 600;
                                    font-size: 17px;
                                    line-height: 22px;
                                    color: #202020;
                                }
                            }
                        }
                    }
                }

                .time-to-test {
                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            background: #2E2E86;
                            margin-right: 10px;
                            padding: 5px 7px;
                            text-align: center;
                            flex: 1;
                            margin-bottom: 7px;

                            @media only screen and (max-width: 576px) {
                                & {
                                    width: 100%;
                                    flex: auto;
                                    margin-right: unset;
                                }
                            }

                            p {
                                font-style: normal;
                                font-weight: normal;
                                font-size: 20px;
                                line-height: 26px;
                                color: #FFFFFF;
                            }

                            &:last-child {
                                margin-right: unset;
                            }
                        }
                    }
                }
            }
        }

        .sign-up-for-advice {
            background: rgba(244, 244, 244, 0.8);
            opacity: 0.8;
            margin-top: 38px;
            padding: 25px 0px 20px 0px;

            .title {
                h2 {
                    font-weight: 500;
                    font-size: 38px;
                    line-height: 38px;
                    color: #313A5A;
                }
            }

            .input-form {
                text-align: center;
                margin-top: 20px;

                @media only screen and (max-width: 567px) {
                    & {
                        text-align: unset;
                    }
                }

                form {
                    .elements {


                        label {
                            font-size: 12px;
                            line-height: 32px;
                            color: #202020;
                            width: 116px;
                            display: inline-block;
                            text-align: left;
                        }

                        input {
                            width: 468px;
                            height: 24px;
                            outline: none;
                            background: #FFFFFF;
                            border: 0.5px solid #DADADA;
                            box-sizing: border-box;
                            border-radius: 2px;
                            display: inline-block;

                            @media only screen and (max-width: 576px) {
                                & {
                                    max-width: 100%;
                                }
                            }
                        }
                    }

                    .btn-sign-up {
                        margin: 15px auto;
                        text-align: center;

                        button {
                            width: 193px;
                            height: 40px;
                            border: none;
                            outline: none;
                            background: #A1BF46;
                            border-radius: 4px;
                            text-align: center;

                            span {
                                font-family: Montserrat;
                                font-style: normal;
                                font-weight: bold;
                                font-size: 13px;
                                line-height: 16px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }

        .sign-end {
            padding: 25px 0px 29px 0px;

            p {
                font-style: normal;
                font-weight: normal;
                font-size: 17px;
                line-height: 22px;
                color: #202020;
            }
        }
    }
}